body {
  padding-top: 200px;
  padding-bottom: 40px;
  background-image: url("src/assets/masjid5.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.white {
  background-color: white;
  color: black;
}
.yellow-text {
  color: #9c8512;
}
.bg-yellow {
  background-color: #9c8512;
}

