<body>
     <div class="blur">
          <div class="container text-center">
               <div class="white">
                    <div class="col col-sq shadow my-5 border mx-auto inner-border bg-l p-5">
                         <div class="center white">
                              <h2 class="yellow-text">Donate to the house of Allah</h2>
                         </div>
                         <span class="image main p-4"><img src="assets/pic03.jpg" width="70%" alt="" /></span>
                         <div class="ml-5 row">
                              <div class="">
                                   <h5 class="p-2">cards, apple pay, google pay</h5>
                                   <a class="btn btn-success custom" role="button"
                                        href="https://goodbricks.org/donate/masjidalrahman.com/masjid-ops-2022">Goodbricks</a>
                                   <h5 class="p-2">paypal or card</h5>
                                   <a class="btn btn-success custom" role="button"
                                        href="https://www.paypal.me/iswccc">PayPal</a>
                                   <h5 class="p-2">donations@masjidalrahman.com</h5>
                                   <a class="btn btn-success custom" role="button">Zelle</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</body>