<div class="program">
     <p>
          Upcoming Programs
     </p>
     <p>
          The following are some of our upcoming classes, lectures, and events
     </p>
     <p>No upcoming activities, stay tuned for updates</p>
</div>

<footer class="bar">
     <div>
          <p>Islamic Society of West Contra Costa</p>
          <tr>
               <td><a href="facebook.com"><img src="" alt="facebook"></a></td>
               <td><a href="youtube.com"><img src="" alt="youtube"></a></td>
               <td><a href="instagram.com"><img src="" alt="youtube"></a></td>
          </tr>
     </div>
     <div>
          <p class="text-xs-center">© ISWCCC. MASJID AL-RAHMAN. 2023.</p>
     </div>
</footer>