<nav class="navbar navbar-expand-md navbar-light fixed-top mb-5 bar">
     <a class="navbar-brand mx-auto ms-5" href="/home"><img src="" alt="">
          <p>MASJID AL-RAHMAN</p>
          <p>Islamic Society of West Contra Costa</p>
          <p>1110 36th St, Richmond, Ca, 94804</p>
     </a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse justify-content-end me-5" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

               <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink='/'>Home</a>
               </li>
               <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Update</a>
               </li>
               <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Programs</a>
               </li>
               <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Donate</a>
               </li>
               <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/">Contact</a>
               </li>
          </ul>
     </div>
</nav>