<body>
     <div class="container text-center">
          <div class="white">
               <div class="col col-sq shadow my-5 border mx-auto inner-border bg-l p-5">
                    <div class="center white">
                         <h2 class="yellow-text">Donate to the house of Allah</h2>
                    </div>
                    <div class="image main p-4"><img src="assets/pic03.jpg" width="70%" alt="" /></div>
                    <div class="ml-5 row">
                         <div class="col  mx-auto mt-3 rounded p-5">
                              <div class="row">
                                   <button class="bg-yellow p-4"
                                        onclick="window.location.href='https://goodbricks.org/donate/masjidalrahman.com/masjid-ops-2022';">Goodbricks</button>
                              </div>
                              <div class="row">
                                   <button class="bg-yellow p-4">Zelle</button>
                              </div>
                              <div class="row">
                                   <button class="bg-yellow p-4"
                                        onclick="window.location.href='https://www.paypal.me/iswccc';">PayPal</button>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</body>