.iswccc {
  margin-top: 150px;
  font: Goliath;
  font-size: medium;
  max-width: 282px;
  white-space: normal;
  border: 2px solid;
  box-shadow: rgb(72, 27, 105);
  padding: 10px;
  background-color: rgb(139, 180, 215);
  border-color: rgb(184, 189, 167);
}
.salam {
  font-style: oblique;
  font-size: 50px;
  font-weight: 200;
}
.pra {
  margin-top: 150px;
  margin-left: 30px;
  font-weight: 300;
  font-family: Goliath;
  font-size: 30px;
}
