.time-block {
  border: 2px solid;
  width: 240px;
  height: 183px;
  border-radius: 20px;
  background-image: linear-gradient(rgb(74, 77, 185), rgb(118, 191, 132));
  display: block;
  float: left;
  align-content: center;
  margin-right: 80px;
  margin-bottom: 30px;
}
.container-lg :hover {
  border: 0px;
}
.jump {
  border: none;
}
.waqt-name {
  padding-top: 15px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Copperplate Gothic;
  text-align: center;
  border-radius: 10px;
}
.time {
  border-radius: 20px;
  text-align: center;
  margin: 35px;
  margin-top: 25px;
  font-size: 14.4px;
}
table,
th,
td {
  background-image: linear-gradient(rgb(181, 211, 162), rgb(45, 133, 205));
  padding: 8px;
}
th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
.pt {
  text-align: center;
  font-size: 30px;
  font-family: Copperplate Gothic;
  color: black;
}
/* @media only screen and (max-width: 400px) {
  .time-block {
    width: 20%;
    height: 20%;
  }
} */
@media only screen and (max-width: 800px) {
  .container-lg {
    width: 10%;
    height: 10%;
  }
}
@media only screen and (max-width: 800px) {
  .time-block.time {
    border: 2px solid;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(74, 77, 185), rgb(118, 191, 132));
    display: block;
    float: left;
    align-items: center;
  }
}
