/* You can add global styles to this file, and also import other style files */
.center {
  text-align: center;
}

.white {
  color: aliceblue;
}
.blue {
  color: rgb(10, 24, 91);
}
.overlay {
  z-index: 9;
  margin: 30px;
  background: #009938;
}

.yellow-text {
  color: #9c8512;
}
.bg-yellow {
  background-color: #9c8512;
}
.blur {
  backdrop-filter: blur(5px);
}
